.accordion {
  width: 50vw;
  border: 1px solid #195175;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.accordion-title {
  color: #ffff;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #195175;
}

.accordion-title h3 {
  color: #ffff;
}
.accordion-header span {
  font-size: 20px;
}

.accordion-content {
  padding: 10px;
}
