.accordion {
  width: 50vw;
  border: 1px solid #195175;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.accordion-title {
  color: #ffff;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #195175;
}

.accordion-title h3 {
  color: #ffff;
  font-size: 1.5rem;
}

.accordion-content {
  padding: 10px;
  font-size: 1.2rem;
}

/* -------------------------------MEDIA QUERIES------------------------------ */

@media (max-width: 992px) {
  .accordion {
    width: 70vw;
  }
  .accordion-title h3 {
    font-size: 1.3rem;
  }
  .accordion-content {
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .accordion {
    width: 85vw;
  }
  .accordion-title h3 {
    font-size: 1rem;
  }
  .accordion-content {
    font-size: 1rem;
  }
}
