.contact-headband-container {
  display: block;
  width: 100vw;
  height: auto;
  justify-content: center;
  padding: 3rem 0 5rem 0;
}

.contact-headband-message {
  padding: 2rem 8rem;
  text-align: center;
  font-size: 1.4rem;
}
