.intro-container {
  width: 100vw;
  height: auto;
  z-index: -3;
}

.intro-container h1 {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  text-transform: uppercase;
}

.intro-container p {
  display: flex;
  justify-content: center;
  padding: 3rem 8rem;
  text-align: center;
  font-size: 1.4rem;
}

/* ---------------------- MEDIA QUERIES---------------------- */

@media screen and (max-width: 1250px) {
  .intro-container h1 {
    font-size: 1.4rem;
  }

  .intro-container p {
    font-size: 1.1rem;
  }
}
