.intro-container {
  width: 100vw;
  height: auto;
  z-index: -3;
}

.intro-container h1 {
  display: flex;
  justify-content: center;
  padding: 3rem 0 0 0;
  text-transform: uppercase;
}

.intro-container p {
  display: flex;
  justify-content: center;
  padding: 3rem 8rem;
  text-align: center;
  font-size: 1.4rem;
}

/* ---------------------- MEDIA QUERIES---------------------- */

@media screen and (max-width: 992px) {
  .intro-container h1 {
    font-size: 1.4rem;
    padding: 2rem 0 1rem 0;
  }

  .intro-container p {
    font-size: 1.3rem;
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 678px) {
  .intro-container h1 {
    font-size: 1.1rem;
  }
  .intro-container p {
    font-size: 1.1rem;
    padding: 1rem 1rem;
  }
}
