/* famille de fonts pour l'ensemble du site  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS par défaut sur l'ensemble du projet  */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  /* box-shadow: 0 0 0 3px red inset; */
}

h1,
h2,
h3,
h4,
p,
a {
  text-decoration: none;
  color: #195175;
}

ul {
  list-style-type: none;
}
